.overlay {
	position: fixed;
	inset: 0;
	background: rgba(var(--bs-black-rgb), .45);
	backdrop-filter: blur(1px);
	display: none;
	z-index: 1030;
}

.overlay.show {
	display: block;
}

.sidebar {
	width: 240px;
	background: var(--bs-body-bg);
	transition: width .3s, left .3s;
	border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 60px;
	z-index: 1030;

	.nav-link {
		color: var(--bs-body-color);
		padding: 8px 10px;
		display: flex;
		align-items: center;
		font-size: var(--bs-body-font-size);
		font-weight: var(--bs-body-font-weight);
		gap: 12px;
		white-space: nowrap;
		margin: 1px 12px;
		border-radius: var(--bs-border-radius-lg);

		&:hover {
			color: var(--bs-primary);
			background-color: rgba(var(--bs-primary-rgb), 0.095);
		}

		&.active {
			color: var(--bs-primary);
			background-color: rgba(var(--bs-primary-rgb), 0.095);
		}

		.ti {
			font-size: 18px;
		}
	}

	.nav-text {
		transition: opacity .2s;
	}

	.logo-area {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
		width: 100%;
		background: var(--bs-body-bg);
		display: flex;
		align-items: center;
		gap: 10px;
		padding-left: 17px;
		color: var(--bs-body-color);
		border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	}
}

.sidebar.collapsed {
	width: 60px;

	.nav-link {
		margin: 0 0px;
		background-color: transparent;
		padding: 8px 18px;
	}

	.nav-text {
		display: none;
	}

	.logo-text {
		display: none;
	}
}

.topbar {
	height: 60px;
	margin-left: 240px;
	background: var(--bs-body-bg);
	border-color: var(--bs-border-color) !important;
	// transition: margin-left .3s;
}

.topbar.full {
	margin-left: 60px;
}

.content {
	margin-left: 240px;
	// transition: margin-left .3s;
	// padding: 20px;
}

.content.full {
	margin-left: 60px;
}

@media (max-width: 992px) {
	.sidebar {
		left: -240px;
	}

	.sidebar.mobile-show {
		left: 0;
	}

	.topbar {
		margin-left: 0 !important;
		width: 100% !important;
	}

	.content {
		margin-left: 0 !important;
	}
}

.min-vh-90 {
	min-height: 90vh;
}


@import "./avatar";
@import "./button";
@import "./icon-shape";
@import "./utilities";
