@import 'tailwindcss';

@plugin "daisyui";

/* Mary UI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";
@custom-variant dark (&:where(.dark, .dark *));

/* Laravel */
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

[x-cloak] {
    display: none !important;
}

/* Active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

/* For dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit;
}

.btn > * {
    @apply pointer-events-none;
}

/* For dark mode*/
.mary-table-pagination button {
    @apply bg-base-100 cursor-pointer;
}
.cropper-point {
    width: 10px !important;
    height: 10px !important;
}

.markdown h1 {
    @apply text-2xl;
}

.markdown h2 {
    @apply text-xl;
}

.markdown h3 {
    @apply text-lg;
}

.markdown h4, .markdown h5, .markdown h6 {
    @apply text-base;
}
